.Contact{

    .heading {
        font-size: 2.8235294117647rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #002d5b;
        
        h4{
            padding: 0;
            margin-bottom: 0;
        }

        .underline {
        display: flex;
        justify-content: center;
        border-top: 3px solid rgb(236 91 83);
        width: 7%;
        margin-top: 5px;
        }
    }
    
    .content{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        padding-top: 25px;

        .information{
            display: grid;
            grid-area: 1 / 1;
            display: flex;
            flex-direction: row;

            .phone{
                flex: 1;
                margin: 25px;
                background-color: white;
                border-radius: 5px;
                padding: 30px;
                width: 33%;

                .icon{
                    text-align: center;
                    margin-bottom: 10px;
                    color: rgb(236 91 83);
                }
                .heading{
                    font-size: 1.7rem;
                    text-align: center;
                }
                .description{
                    margin-top: 10px;
                    font-size: 1rem;
                    text-align: center;
                }
            }

            .city{
                flex: 1;
                margin: 25px;
                background-color: white;
                border-radius: 5px;
                padding: 30px;
                width: 33%;

                .icon{
                    text-align: center;
                    margin-bottom: 10px;
                    color: rgb(236 91 83);
                }
                .heading{
                    font-size: 1.7rem;
                    text-align: center;
                }
                .description{
                    margin-top: 10px;
                    font-size: 1rem;
                    text-align: center;
                }

            }

            .email{
                flex: 1;
                margin: 25px;
                background-color: white;
                border-radius: 5px;
                padding: 30px;
                width: 33%;

                .icon{
                    text-align: center;
                    margin-bottom: 10px;
                    color: rgb(236 91 83);
                }
                .heading{
                    font-size: 1.7rem;
                    text-align: center;
                }
                .description{
                    margin-top: 10px;
                    font-size: 1rem;
                    text-align: center;
                }

            }

        }  

        .getting-in-touch{
            grid-area: 2 / 1;
            display: flex;
            flex-direction: row;


            form{
                flex: 2;
                background-color: white;
                margin: 20px;
                border-radius: 5px;
                padding: 20px;

                .greeting{
                    font-size: 28px;
                }

                .underline{
                    padding-bottom: 10px;
                }

                .form-group{
                    color: black;
                    width: 100%;
                    font-size: 20px;
                    padding: 10px 0;
                    height: 50px;

                    input{
                        color: grey;
                        width: 100%;
                        height: 100%;
                        font-size: 22px;
                        background-color: #edeff2;
                        border: 1px solid #c4c7cc;
                    }

                    input:focus{
                        color: black;
                        background-color: white;
                        border: 0;
                        outline: none;
                    }



                }

                .form-last{
                    color: #6e727a;
                    width: 100%;
                    font-size: 20px;

                    .remaining{
                        margin: 0;
                        margin-bottom: 10px;
                    }

                    button{
                        font-family: inherit;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        font-size: 0.94117647058824rem;
                        color: #ffffff;
                        background-color: rgb(236 91 83);
                        border: 0;
                        min-height: 46px;
                        max-height: 60px;
                        min-width: 146.7px;
                        padding-left: 10px;
                    }

                    button:hover{
                        background-color: rgb(171, 66, 60);
                    }


                }

                .form-group-message{
                    width: 100%;
                    font-size: 20px;
                    padding: 10px 0;
                    height: 100px;


                    textarea{
                        color: grey; 
                        width: 100%;
                        height: 100%;
                        font-size: 22px;
                        background-color: #edeff2;
                        border: 1px solid #c4c7cc;
                        resize: none;
                    }

                    textarea:focus{
                        color: black;
                        outline: none;
                        background-color: white;
                    }
                }

            }

            .MessageMe{
                flex: 1;
                margin: 20px 20px;
                padding: 20px;


                .heading{
                    align-items: flex-start;
                    font-size: 28px;
                    padding-left: 60px;
                }
                .underline{
                    width: 10%;
                    margin-left: 60px;

                }

                .content{
                    color: black;
                    font-size: 20px;
                    padding: 20px;
                    padding-left: 60px;
                    padding-right: 60px;
                }

                .links{
                    .icon-list-item{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        li{
                            list-style-type: none;
                        }

                        li a {
                            text-decoration: none;
                            color: #000;
                            font-size: 26px;
                            transition: color 0.3s;
                            padding-right: 20px
                    }
                    li a:hover{
                        color: rgb(171, 66, 60);
                    }

                    }
                }
            }
        }




    }


}
