.Header-container {
    display: grid; 
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 100px;
    align-items: center;
    width: 100%;

  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .Hireme {
      font-family: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      font-size: 0.94117647058824rem;
      height: 50%;
      color: #ffffff;
      background-color: rgb(236 91 83);
      transition: 0.3s ease-in-out;
      border: 0;
    }
  
    .Hireme:hover{
      background-color: rgb(171, 66, 60);
    }
  }
  
  
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 100px;
  }
  
  #navbar li {
    margin: 0 10px;
    padding: 20px;
    font-size: 18px;
  }
  
  #navbar li a {
    text-decoration: none;
  }

  #navbar li a:hover{
    color:red;
    transition: .3s ease-in-out;
    cursor: pointer;
  }
  #navbar li a.active{
    color:red;
    cursor: pointer;
}

.menu-icon {
  display: none;
  i {
    font-size: 2rem;
  }
}


// Mobile-specific styles
@media screen and (max-width: 768px) {
  .Header-container {
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    height: 50px;
  }
  .btn{
    .Hireme{
      display: none;
    }
  }
  

  .logo{
    justify-content: flex-start;
    height: 50px;
  }

  .navbar {
    display: none;
    position: fixed;
    width: 30%;
    top: 100px; 
    right: 0;
    background-color: white; 
    z-index: 1; 
    #navbar{
      display: block;
    }
    li {
      margin: 0;
      text-align: center;
      padding: 10px 0;
    }
  }


  .navbar.active {
    display: block;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 50%);
    z-index: 2; 
    height: 100%;

  }
}
