.introduction {
    display: grid; 
    padding-top: 70px;
    grid-template-columns: 57px 608px 471px;
    grid-template-rows: auto;
    align-items: center;
    padding-bottom: 50px;

    .Links{
        grid-area: 1 / 1;
        padding-bottom: 300px;
        li{
            list-style-type: none;
            padding-bottom: calc(27px / 2);
        }
    }

    .link-list-item{
        padding: 0;
        margin: 0;

        li a {
                text-decoration: none;
                color: #000; /* Set the link color */
                font-size: 26px;
                transition: color 0.3s;
                padding-right: 20px
        }
        li a:hover{
            color: rgb(171, 66, 60);
        }
    } 



    .Home-who{
        grid-area: 1 / 2;
        display:flex; 
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
    }

    .Home-title{
        font-size: 62px;
        color: #002d5b;
        margin-bottom: 20px;
    }

    .Home-subtext{
        font-size: 24px;
        font-weight: 0;
        color: gray;
        padding-right: 10px;
    }

    .Home-learn-more{
        button{
                font-family: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-size: 0.94117647058824rem;
                color: #ffffff;
                background-color: rgb(236 91 83);
                transition: 0.3s ease-in-out;
                border: 0;
                min-height: 46px;
                min-width: 146.7px;
                margin-top: 60px;
            }
            
            button:hover{
                background-color: rgb(171, 66, 60);
            }
        }

    .Home-picture{
        grid-area: 1 / 3;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.home-about-me{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    .Heading{
        grid-area: 1 / 1;
        display: flex;
        justify-content: center;
        font-size: 32px;
        color: #002d5b;
        padding-top: 100px;
    }
    .Heading-subtext{
        grid-area: 2 / 1;
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .content{
        display: grid;
        grid-area: 3 / 1; 
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;

        .content-1{
            grid-area: 1 / 1;
            h5{
                font-size: 30px;
                color: #002d5b;
            }
            .content-1-subtext, .content-1-subtext2{
                margin-right: 40px;
                padding-bottom: 20px;
            }
            button{
                font-family: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-size: 0.94117647058824rem;
                color: #ffffff;
                background-color: rgb(236 91 83);
                transition: 0.3s ease-in-out;
                border: 0;
                min-height: 46px;
                min-width: 146.7px;
            }
            button:hover{
            background-color: rgb(171, 66, 60);
          }
        }
        .content-2{
            grid-area: 1 / 2;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-right: 10px;
        }
        .content-3{
            grid-area: 1 / 3;
            display: flex;
            align-items: center;
            
            img{
                height: 70%;
                width: 100%;
                border-radius: 15px;
                
                box-shadow: 19px -1px 0px 11px rgba(236,91,83,1);
                -webkit-box-shadow: 19px -1px 0px 11px rgba(236,91,83,1);
                -moz-box-shadow: 19px -1px 0px 11px rgba(236,91,83,1);
            }
        }
    }
}

.Services{
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);

    .Heading{
        grid-area: 1 / 1;
        display: flex;
        justify-content: center;
        font-size: 32px;
        color: #002d5b;
        padding-top: 100px;
    }

    .subtext{
        grid-area: 2 / 1; 
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .content{
        grid-area: 3 / 1;
        display: flex;
        justify-content: space-between; 

        .card-service{
            background-color: white;
            border-radius: 10px;
            margin: 20px;

            img{
                margin: 30px auto;
                display: block;
                height: 68.19px;
                width: 68.19px;
            }

            .card-title{
                display: flex; 
                justify-content: center;
                font-size: 20px;
                color: #002d5b;
            }

            .card-description{
                margin: 30px 15px;
                text-align: center;
            }

            .card-icon{
                margin-top: 30px;
                display: flex;
                justify-content: center;
                font-size: 32px;
                color: grey;
                margin-bottom: 30px;
                transition: .3s ease-in-out;
                text-decoration: none;

                i:hover{
                    transition: .3s ease-in-out;
                    color: #c47d78;
                }
            }

        }
    }
}

.Work-Experience{
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);

    .Heading{
        grid-area: 1 / 1;
        display: flex;
        justify-content: center;
        font-size: 32px;
        color: #002d5b;
        padding-top: 100px;
    }

    .subtext{
        grid-area: 2 / 1; 
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .content-1{
        grid-area: 3 / 1;
        display: grid;

        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;

        .card-experience{
            background-color: white;
            border-radius: 10px;
            margin: 20px;
            padding: 20px;

            .card-title{
                font-size: 20px;
                padding-bottom: 20px;
            }

            .card-duration{
                font-size: 18px;
                color: #c2645d;
                padding-bottom: 20px;
            }

            .card-description{
                font-size: 16px;
                padding-bottom: 20px;
            }
        }
    }

    .content-2{
        grid: 4 / 1;
        display: grid; 

        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;

        .card-experience{
            background-color: white;
            border-radius: 10px;
            margin: 20px;
            padding: 20px;

            .card-title{
                font-size: 20px;
                padding-bottom: 20px;
            }

            .card-duration{
                font-size: 18px;
                color: #c2645d;
                padding-bottom: 20px;
            }

            .card-description{
                font-size: 16px;
                padding-bottom: 20px;
            }
        }
    }

}